* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(https://picsum.photos/id/1019/200/300);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  color: #222;
  padding: 5% 10%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  background: rgba(216, 14, 14, 0.1);
  box-shadow: 0 8px 32px 0 rgba(12, 26, 228, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5% 10%;
}

.card-container-heading {
  width: 100%;
  text-align: center;
}

.card {
  width: 48%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
  padding: 1%;
}

.card-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
}

.button {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 1%;
}

.button:hover {
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.card-heading,
.card-subtitle,
.card-description {
  margin-bottom: 10px;
}
